---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Schedule from '../components/Schedule.astro';
import Venue from '../components/Venue.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Schedule />
    <Venue />
  </main>
  <Footer />
</Layout>
